body {
    font-family: roboto, sans-serif;
}

.navbar {
    background-color: rgb(238, 80, 80) ;
}

.nav .nav-link.active {
    background-color: #fff;
    color:rgb(238, 80, 80) ;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-brand {
    font-family: pacifico, cursive;
}

